/*button{
    margin-left:10px;
}
row {
  justify-content: flex-start !important; 
}

.col,
[class*="col-"] { 
  text-align: left !important;
    padding-left: 15px;
}


.col,
[class*="col-"] {
    padding-left: 25px;
    padding-right: 15px; 
}*/